.env
venv/
__pycache__/
*.pyc
db.sqlite3
.pem
elcampo.pem

# Archivos temporales de desarrollo
*.log
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info
dist/
build/
django.log
# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db